@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

/* Sarah's Variables */
$orange: #f06224;
$orange-hover: #dd5013;
$mint: #c6e3d9;
$mint-hover: #9ed3bf;
$black: $black;
$featured-height: 383px;

body {
  background-color: #f3f3f3;
}

h2 {
  color: $black;
  font-family: "freight-display-pro",serif;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  line-height: 1.25em;
}

h3 {
  color: $black;
  font-family: "freight-display-pro",serif;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  line-height: 1.25em;
}

h4 {
  color: $black;
  font-family: "freight-display-pro",serif;
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
  line-height: 1.375em;
}

h5 {
  color: $black;
  font-family: "proxima-nova",sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 1.375em;
}

h6 {
  color: #595a5c;
  font-family: "proxima-nova",sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5em;
}

p {
  color: $black;
  font-family: "proxima-nova",sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.438em;
}

strong {
  font-weight: bold;
}

a {
  color: $orange;
}
// a:hover {
//   text-decoration: underline;
// }

li {
  color: #797672;
    font-family: "proxima-nova",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.375em;
    padding-bottom: 0.625em;
}


/* Header Start*/
.header-wrapper {
  background-color: #ffffff;
  border-bottom: 1px solid #a7a7a7;
}

.tickets-wrapper {
//  margin-bottom: 25px;
}

.menu-links {
  margin-top: 21px;
  li a {
    font-family: freight-display-pro, serif;
    font-size: 17px;
    font-weight: bold;
    color: $black;
    padding: 0 16px 0 10px;
  }
  li {
    padding-bottom: 0;
  }
}

/* Header End*/

/* Breadcrumbs Start*/
ul.breadcrumbs {
  margin-bottom: 0;
  margin-top: 30px;
  a {
    color: $black;
    color: $black;
    font-family: "proxima-nova",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.438em;
  }
  li {
    text-transform: none;
    &:not(:last-child)::after{
      content: ">";
      color: $black;
    }
  }
  li.disabled {
    font-family: "proxima-nova",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.438em;
    }
}
/* Breadcrumbs End */

/* Buttons Start*/
.buy-btn {
  background-color: $orange;
  margin-top: 10px;
  padding:2px;
  font-size: 17px;
  &:hover {
    background-color: $orange-hover;
  }
}

.buy-btn-lrg {
  @extend .buy-btn;
  margin: 5px 0 0 0;
}

.tix-txt {
  border: 1px solid white;
  padding: 10px 0;
  width: 160px;
}

.btn-long {
  @extend .tix-txt;
  font-size: 15px;
  width: 180px;
}

.gray-btn {
  background-color: #bdbdc0;
  padding: 2px;
  margin-bottom: 10px;
  &:hover {
    background-color: #797672;
  }
}

.event-btn-group {
  .button {
    margin-right: 0;
  }
}

.category-btn-wrapper {
  margin-top: 40px;
}

.category-btn-group {
  padding-top: 12px;
  width: 225px;
  display: inline-block;
}

.category-btn {
  background-color: $mint;
  color: $black;
  height: 30px;
  &:hover {
    background-color: $mint-hover;
    color: $black;
  }
}

.more-info-wrapper {
  display: inline-block;
}

.more-info-btn {
  @extend .tix-txt;
  width: 130px;
}

/* Buttons End */

.event-body {
  margin-top: 40px;
}

/* Event Banner*/
.inner-border::before {
  content: "foo"; /* you need something or it will be invisible at least on Chrome */
  color: transparent;
  position:relative;
  width: calc(100% - 50px);
  margin-left: 25px;
  margin-right: 25px;
  height: $featured-height - 20px;
  margin-top: 10px;
  margin-bottom: -$featured-height + 10px;
  z-index:10;
  border: 1px solid $black;
}

.event-banner-info {
  h1 {
    font-family: "proxima-nova",sans-serif;
    color: #f79535;
    font-size: 24px;
    line-height: 1.25em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: bold;
    font-style: normal;  
    margin-top: 30px;
  }
  p {
    font-size: 20px;
    margin-bottom: 10px;
  }
  margin-left: -15px;
  float:left !important;
  background-color:white;
  height: $featured-height;
}

.event-detail-wrapper {
  display: table;
  margin-bottom: 40px;
}

/* Event Banner End*/

/* Event Body Start */
.attire-info-wrapper {
  background-color: #ffffff;
  padding: 7px;
}

.attire-info {
  border: 1px solid #9ed3bf;
  h3, p {
    text-align: center;
  }
  h3 {
    color: #9ed3bf;
    margin-bottom: 0;
  }
  p {
    font-family: freight-display-pro, serif;
    font-style: italic;
    font-size: 20px;
    color: $black;
    line-height: 22px;
  }
  height: 86px;
}

.share-icons {
  margin: 30px 0;
}

.price {
  margin-top: 18px;
}

.event-video {
  margin-top: 40px;
  max-width: 620px;
}
/* Event Body End */

.stay-wrapper {
  background-color: pink;
}

.talent-title {
  h3 {
    font-style: normal;
    font-weight: normal;
  }
}

/* Chefs Block Start */

#chef-grid-block {
  .column {
    min-height: 290px;
    a {
      color: $black;
      font-weight: bold;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  img {
    width: 100%; // thumbnails given too small to match design
  }
  h4 {
    margin-top: 5px;
    margin-bottom: 0;
  }
  p {
    font-size: 14px;
    line-height: 1.5em;
  }
}
/* Chefs Block End */

/* Schedule Start */
.schedule-title {
  margin-top: 20px;
}

.event-row {
  margin-bottom: 40px;
}

.event-info {
  h3{
    line-height: 1em;
    font-size: 25px;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
  h4 {
    font-size: 18px;
    line-height: .75em;
  }
  p {
    font-size: 14px;
  }
}

.event-datetime {
  .button {
    margin: 0;
    width: 100%;
    background-color: #f79535;
  }
  .date-txt {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0;
    margin-bottom: 5px;
  }
}

/*Schedule End */

/* Footer Start */
.footer-txt {
  color: #595a5c;
}

.copyright-txt {
  color: #c3c4c6;
}
/* Footer End */

/* Small Media Queries */
@media screen and (max-width: 39.9375em) {
  #chef-grid-block {
    text-align: center;
  }
}

