<!doctype html>
<html class="no-js" lang="en">
{{> head}}
  <body>

{{> header}}
{{> chefs_culinary_breadcrumb}}
<div class="row">
    <div class="large-12 columns">
        <h2>Chefs & Culinary</h2>
    </div>
</div>
{{> chefs_block}}
{{> footer}}
  </body>
</html>
