<!doctype html>
<html class="no-js" lang="en">
{{> head}}
<body>

  {{> header}}
  {{> events_breadcrumb}}
  {{> event_banner}}
  {{> event_body}}
  {{> event_staywithus}}

  <div class="row">
    <div class="large-12 columns">
        <h2>Participating Talent</h2>
    </div>    
    <div class="large-12 columns talent-title">
        <h3>Chefs & Culinary</h3>
    </div>
  </div>
  
  {{> chefs_block}}
  {{> footer}}

</body>
</html>
