<!doctype html>
<html class="no-js" lang="en">
{{> head}}
  <body>

  {{> header}}
  <div class="front-banner"><img src="http://www.culturecollide.com/images/uploads/photos/hfwf_shaunregan1400.jpg" style="height: 550px; width: 100%;"></div>

    <div class="callouts row small-up-1 medium-up-2 large-up-3">
        <div class="column"><img src="https://sewsister.files.wordpress.com/2013/01/how-many-squares-puzzle.jpg" width="200" height="200"></div>
        <div class="column"><img src="https://sewsister.files.wordpress.com/2013/01/how-many-squares-puzzle.jpg" width="200" height="200"></div>
        <div class="column"><img src="https://sewsister.files.wordpress.com/2013/01/how-many-squares-puzzle.jpg" width="200" height="200"></div>
        <div class="column"><img src="https://sewsister.files.wordpress.com/2013/01/how-many-squares-puzzle.jpg" width="200" height="200"></div>
        <div class="column"><img src="https://sewsister.files.wordpress.com/2013/01/how-many-squares-puzzle.jpg" width="200" height="200"></div>
        <div class="column"><img src="https://sewsister.files.wordpress.com/2013/01/how-many-squares-puzzle.jpg" width="200" height="200"></div>
    </div>
    <div class="row">
        <button class="secondary hollow button" href="#">VIEW ALL EVENTS</button>
    </div>
    <div class="bottom-callouts-1">
        <div class="callouts row small-up-1 medium-up-2 large-up-3">
            <div class="column"><img src="https://sewsister.files.wordpress.com/2013/01/how-many-squares-puzzle.jpg" width="200" height="200"></div>
            <div class="column"><img src="https://sewsister.files.wordpress.com/2013/01/how-many-squares-puzzle.jpg" width="200" height="200"></div>
            <div class="column"><img src="https://sewsister.files.wordpress.com/2013/01/how-many-squares-puzzle.jpg" width="200" height="200"></div>
        </div>
    </div>
    <div class="bottom-callouts-2">
        <div class="callouts row small-up-1 medium-up-2 large-up-4">
            <div class="column"><img src="https://sewsister.files.wordpress.com/2013/01/how-many-squares-puzzle.jpg" width="200" height="200"></div>
            <div class="column"><img src="https://sewsister.files.wordpress.com/2013/01/how-many-squares-puzzle.jpg" width="200" height="200"></div>
            <div class="column"><img src="https://sewsister.files.wordpress.com/2013/01/how-many-squares-puzzle.jpg" width="200" height="200"></div>
            <div class="column"><button class="secondary hollow button" href="#">Instagram</button></div>
        </div>
    </div>    
<br><br><br><br><br><br><br><br><br><br><br>

{{> footer}}
<script src="assets/js/app.js"></script>
  </body>
</html>
