<!doctype html>
<html class="no-js" lang="en">
{{> head}}
  <body>
    {{> header}}
    <div class="row schedule-title">
      <div class="small-12 columns">
        <h2>Schedule & Events</h2>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <p>Search</p>
      </div> 
        {{> events_search}}
    </div>

    {{> schedule_events_body}}        

    {{> footer}}

    {{> scripts}}
  </body>
</html>
