<main role="main" class="event-body row">
  <div class="event-detail-wrapper">
    <div class="large-8 columns event-description-block">
      <h2 class="event-title">HMAA Presents Keiki in the Kitchen: Food, Fitness & Fun!</h2>
      <p class="event-title-caption">The world's most influential chefs over to the Big Island</p>
      <p class="event-description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus purus dictum mi aliquam, sed semper mi accumsan. Morbi interdum condimentum elit, mattis egestas justo rutrum id. Integer at lacus ac mi volutpat venenatis sed a augue. Etiam eu sapien urna. Maecenas pharetra nulla quis elit lobortis pretium ut sed ligula. Nulla elementum quis ante vel vulputate. Sed aliquam dolor consequat, congue mi eu, semper ante. Nullam sagittis sodales odio, in dictum metus dictum auctor. Fusce ac feugiat eros.</p>
      <div class="category-btn-wrapper">
        <a class="button category-btn">O'ahu</a>
        <a class="button category-btn">Late Night</a>
      </div>
    </div>
    <div class="large-4 columns event-side-info">
      <div class="attire-info-wrapper">
        <div class="attire-info">
          <i><h3>Attire:</h3></i>
          <p>Collared shirt and slacks for men, cocktail attire for women</p>
        </div>
      </div>
      <div class="share-icons text-center">
        <strong>Share this</strong>
      </div>
      <div class="advertisement">
        <img src="http://image.slidesharecdn.com/33brilliantlycreativemarketingads-140209165631-phpapp02/95/33-brilliantly-creative-marketing-ads-you-dont-want-to-miss-1-638.jpg?cb=1393499472">
      </div>         
    </div>
  </div>
</div>

<hr>
<div class="large-7 columns">
  <h4>General Admission</h4>
  <p>General Admission entry at 6pm</p>
</div>
<div class="large-1 columns align-self-middle text-center price">
  <p>$125.00</p>
</div>
<div class="large-4 columns align-self-middle text-center">
  <a href="#" class="button buy-btn-lrg">
    <div class="btn-long">Buy Your Tickets</div>
  </a>
</div>

<hr>

<div class="large-7 columns">
  <h4>Priority Admission</h4>
  <p>General Admission entry at 6pm</p>
</div>
<div class="large-1 columns align-self-middle text-center price">
  <p>$125.00</p>
</div>
<div class="large-4 columns align-self-middle text-center">
  <a href="#" class="button buy-btn-lrg">
    <div class="btn-long">Buy Your Tickets</div>
  </a>    
</div>

<hr>

<div class="large-7 columns">
  <h4>VIP</h4>
  <p>General Admission entry at 6pm</p>
</div>
<div class="large-1 columns align-self-middle text-center price">
  <p>$125.00</p>
</div>
<div class="large-4 columns align-self-middle text-center">
  <a href="#" class="button buy-btn-lrg">
    <div class="btn-long">Buy Your Tickets</div>
  </a>
</div>

<hr>

<div class="event-video float-center">
  <div class="flex-video">
   <iframe width="420" height="315" src="https://www.youtube.com/embed/V9gkYw35Vws" frameborder="0" allowfullscreen></iframe>
 </div>               

</main>