
<div class="large-4 columns">
    <select>
        <option>
            Date
        </option>
    </select>
</div>
<div class="large-4 columns">
    <select>
        <option>
            Island
        </option>
    </select>
</div>
<div class="large-4 columns">
    <input class="search"></input>
</div>
