<div class="stay-wrapper">
  <div class="row">
    <h2 class="text-center">Stay With Us</h2>
    <div class="large-2 columns">
      <img src="http://hawaiisymphonyorchestra.org/wp-content/uploads/2013/08/Halekulani-Waikiki.jpg">
    </div>
    <div class="large-10 columns">
      <h3>Halekulani</h3>
      <p>Enhance your culinary experience on Oahu with daily breakfast included in your Halekulani Stay.  Enjoy the perfect blend of Halekulani luxury and value with a specially priced Sunrise package by visiting us at and using the Promotoion Code "HFWF15".  Rates valid September 9 - September 16, 2015</p>
    </div>
  </div>
  <div class="row">
    <div class="large-2 columns">
      <img src="http://www.afrugalfriend.net/wp-content/uploads/2013/08/Hyatt-Regency-Logo.png">
    </div>
    <div class="large-10 columns">
      <h3>Halekulani</h3>
      <p>Enhance your culinary experience on Oahu with daily breakfast included in your Halekulani Stay.  Enjoy the perfect blend of Halekulani luxury and value with a specially priced Sunrise package by visiting us at and using the Promotoion Code "HFWF15".  Rates valid September 9 - September 16, 2015</p>
    </div>
  </div>
  <div class="row">
    <div class="large-2 columns">
      <img src="http://www.afrugalfriend.net/wp-content/uploads/2013/08/Hyatt-Regency-Logo.png">
    </div>
    <div class="large-10 columns">
      <h3>Halekulani</h3>
      <p>Enhance your culinary experience on Oahu with daily breakfast included in your Halekulani Stay.  Enjoy the perfect blend of Halekulani luxury and value with a specially priced Sunrise package by visiting us at and using the Promotoion Code "HFWF15".  Rates valid September 9 - September 16, 2015</p>
    </div>
  </div>
</div>  
