<div class="large-2 columns">
    <div class="event-datetime">
        <a href="#" class="button date-txt">Sat. Oct 14</a>
        <p class="text-center">6pm-9pm (VIP, Promoter & FHB/MC Preferred 5pm-9pm)</p>
    </div>
</div>