<div class="row inner-border">
  <div class="large-8 columns event-banner-image">
    <img src="http://lickmyspoon.com/wp-content/uploads/2014/05/2013-09-05-hfwf-modern-moon-5.jpg">
  </div>
  <div class="large-4 columns event-banner-info">
    <h1>Sat Oct. 30, 6pm-9pm <br />
    (VIP, Preferred & Priority: 5pm-9pm)</h1>
    <p>Japengo & SWIM at Hyatt Regency Waikiki Beach Resoirt and Spa [map]</p>
    <p>Tickets: $175</p>
    <div class="event-btn-group text-center">
      <div class="talent-button">
        <a href="#" class="button gray-btn">
          <div class="btn-long">View Talent List</div>
        </a>
      </div>
      <div class="ticket-button">
        <a href="#" class="button buy-btn-lrg">
          <div class="btn-long">Buy Your Tickets</div>
          </a>
      </div>
    </div>
  </div>
</div>