<div class="large-6 columns event-info">
  <div class="event-title">
    <a href="#"><h3>Hawaiian Airlines Presents Corks &amp; Forks Pacific Coast &amp; Forks Pacific Coast</h3></a>
  </div>
  <div class="event-subtext">
    <h4>The world's most influential chefs come over Big Island come over...</h4>
  </div>
  <div class="event-subtext-caption">
    <p>Japengo &amp; SWIM at Hyatt Regency Waikiki Beach Resort and Spa</p>
  </div>
  <div class="category-btn-group">    
    <a href="#" class="button category-btn">Oahu</a>  
    <a href="#" class="button category-btn">Evening</a>  
  </div>
  <div class="more-info-wrapper float-right">
    <a href="#" class="button gray-btn">
      <div class="more-info-btn">More Info</div>
    </a>     
  </div>  
</div>