<div class="row">
  <ul class="breadcrumbs event-breadcrumb large-12 columns">
    <li><a href="#">Schedule/Events</a></li>
    <li><a href="#">Sat Oct. 30</a></li>
    <li class="disabled">HMAA Presents Keiki in the Kitchen: Food, Fitness & Fun!</li>  
  </ul>
</div>