<footer class="footer row">
    <div class="large-12 large-centered columns">
      <p class="text-center footer-txt">
        Copyright ©Hawai‘i Food and Wine Festival. All rights reserved.<br>
        3538 Waialae Ave. #203, Honolulu, HI 96816    808-738-6245
      </p>
    </div>

    <div class="large-12 large-centered columns">
      <p class="copyright text-center copyright-txt">
        Website Designed by Upspring Media
      </p>
    </div>
</footer>