  <header class="header-wrapper">
    <div class="row">
      <div class="large-4 columns">
        {{> site_logo}}
      </div>
      <div class="large-8 columns">
        <div class="row tickets-wrapper">
          {{> buy_tickets}}
        </div>
        <div class="nav row">
          <div class="float-right">
            {{> menu_links}}
          </div>
        </div>
      </div>
    </div>
  </header>