<ul class="vertical medium-horizontal menu menu-links">
  <li><a href="#">Tickets</a></li>
  <li><a href="#">Schedule/Events</a></li>
  <li><a href="#">Talent</a></li>
  <li><a href="#">Sponsors</a></li>
  <li><a href="#">Travel</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Contact</a></li>
</ul>