<div>
  <div class="row large-12 columns event-row">
    {{> events_row}}
  </div>
  <div class="row large-12 columns event-row">
    {{> events_row}}
  </div>
  <div class="row large-12 columns event-row">
    {{> events_row}}
  </div>
  <div class="row large-12 columns event-row">
    {{> events_row}}
  </div>
  <div class="row large-12 columns event-row">
    {{> events_row}}
  </div>
  <div class="row large-12 columns event-row">
    {{> events_row}}
  </div>
</div>
